 <!-- two buttons to filter thumbnails between original content and 500px API -->
<div class="row center-element">
  <div class="large-4 large-offset-2 small-12 center-element inline-this">
    <%= content_tag(:button, "FIND YOUR PHOTOG", class: "form-button-gray", id: "findyourphotog_button")%>
  </div>
  <div class="large-4 small-12 center-element inline-this">
    <%= content_tag(:button, "500PX", class: "form-button-gray", id: "f00px_button")%>
  </div>
</div>

<!-- original content thumbnails -->
<ul class="og-grid" id="findyourphotog">
  <% @photos.reverse.each do |photo| %>
    <% unless photo.photo.url.blank? %>
    <li><%= link_to(image_tag(photo.photo.url(:thumb)), photo) %></li>
    <% end %>
  <% end %>
</ul>

<ul class="og-grid" id="f00px">
    <% @f00_photos.each do |photo|%>
      <li><%= link_to(image_tag(photo[0..-10]+'3.jpg'), "http://500px.com/popular" )%></li>  
    <% end %>
</ul>