<h1>Photographers</h1>

<% @photographers.each do |photographer| %>
  <ul>
    <li><%= link_to photographer.full_name_and_company_name, photographer %></li>
  </ul>
<% end %>

<%= link_to 'Create a photographer account!', new_photographer_path %>
