<h1>Listing galleries</h1>

<% @galleries.each do |gallery| %>
  <ul>
    <li><%= link_to gallery.title, gallery %> by <%= Photographer.find(gallery.photographer_id).fname %> <%= Photographer.find(gallery.photographer_id).lname %></li>
  </ul>
<% end %>
</table>

<br />

<%= link_to 'New Gallery', new_gallery_path %>
