<!-- <div class="row center-text">
  <h1>GALLERIES</h1>
</div> -->
<!-- link to create a new gallery -->
<div class="row center-text padding-custom">
  <%= link_to 'NEW GALLERY', new_gallery_path, :class => "link-button" %>
</div>

<!-- lists each gallery by title with link -->
<ul id="colored-galleries">
  <% @galleries.each do |gallery| %>
    <li class="large-6 small-12 center-element center-text">
      <p><%= link_to gallery.title.upcase, gallery %></p><br />
      by <%= link_to gallery.photographer.full_name, photographer_path(gallery.photographer.id) %>
    </li>
  <% end %>
</ul>