<h1>Listing galleries</h1>

<!-- lists each gallery by title with link -->
<% @galleries.each do |gallery| %>
  <ul>
    <li><%= link_to gallery.title, gallery %></li>
  </ul>
<% end %>
</table>

<br />

<!-- link to create a new gallery -->
<%= link_to 'New Gallery', new_gallery_path %>
