body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: black;
}

h1 a {
	color: #f0f0f0;
	text-decoration: none;
}

a {
  color:darkgray;
  text-decoration: none;
}

li {
  list-style: none;
}

a:hover {
	color: lightgray;
}

b{
  color:#92C8CD;
}

p{
  color:#B1B1B1;
  font-size: 2em;
}

h1{
  color:#92C8CD;
}

label{
  color:white;
}

.comment{
  
}