/*body {
  background-color:white;
}*/

#main_div {
  margin-top:-55px;
}

.filter_container {
  display: block;
  width: 400px;
  margin: 0 auto;
}

.filter{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.filter {
  margin:5px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #141414), color-stop(1, #121212) );
	background:-moz-linear-gradient( center top, #141414 5%, #121212 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#121212');
	background-color:#141414;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:2px solid #3D3C3D;
	display:inline-block;
	color: #A8A8A8;
	font-family:helvetica;
	font-size:14px;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:175px;
	text-decoration:none;
	text-align:center;
}
.filter:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #121212), color-stop(1, #141414) );
	background:-moz-linear-gradient( center top, #121212 5%, #141414 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#121212', endColorstr='#141414');
	background-color:#121212;
/*  border:;*/
  border:2px solid #A8A7A9;
  
}.filter:active {
	position:relative;
	top:1px;
}