.photographer_label {
  color: #121212;
  background-color:gray;
  font-family:helvetica;
}

.highlight_photographer {
  font-weight:bold;
  color:black;
  background-color:yellow;
  font-family:helvetica;
}